
.AllBoxCart{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 8em;
}
.BoxCart1{
    display: inline;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.673);
    border-radius: 6px;
}
.CartBox2{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 2em;
    width: 25em;
    height: 100%;
    padding-left: 2em;
    border-left: 1px solid rgba(0, 0, 0, 0.311);
}
.TitleCartBox2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center !important;
    width: 100%;
}

.pCartDesc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.CartBox2Desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.311);
}

.BannerCart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/BannerHome3.png');
    background-size: cover; /* La imagen de fondo cubrirá todo el contenedor */
    background-repeat: no-repeat;
    margin-top: 10em;
    border-radius: 6px;
    box-shadow: 0 5px 50px 0 rgb(0, 0, 0);
}

.h1TextCart{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    white-space: nowrap; /* Evitar que el texto se divida en múltiples líneas */
    overflow: hidden; /* Ocultar cualquier exceso de texto que no quepa en la línea */
    text-overflow: ellipsis; /* Agregar puntos suspensivos si el texto está recortado */
    font-size: 30px;
    text-align: center !important;
    width: 100%;
}

.titleBoxCart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.59);
    font-family: Libre Baskerville,Libre-Baskerville-Fallback,serif;
    color: white;
    padding: 1em;
    border: 1px solid white;
}

.tarjeta {
    display: flex;
    padding: .5em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: rgba(255, 194, 82, 0.078);
    width: 25em;
    height: 6em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.311);
}
  
.tarjeta-imagen {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.tarjeta-contenido {
    flex: 1;
}

.tarjeta-titulo {
    margin: 0;
    font-size: 15px;
    white-space: nowrap; /* Evitar que el texto se divida en múltiples líneas */
    overflow: hidden; /* Ocultar cualquier exceso de texto que no quepa en la línea */
    text-overflow: ellipsis; /* Agregar puntos suspensivos si el texto está recortado */
}
  
.tarjeta-descripcion {
    margin: 0;
    margin-bottom: 10px;
}
  
.tarjeta-precio {
    margin: 0;
    font-weight: bold;
}
.imgDelete{
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 6px;
}
  
.carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titleCart{
    margin-bottom: 1em;
    font-family: Libre Baskerville,Libre-Baskerville-Fallback,serif;
    font-size: 2.5em;
}
  
.pCart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.59);
    padding: 2em;
    border: 1px solid white;  
    margin: 3em;
}

  
.buttonCounterCart {
    display: inline;
    justify-content: space-around;
    align-items: center;
    margin: 0.2em;
}
  
.counterCart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 6px;
    padding: .1em;
    max-width: 5.5em;
    max-height: 2.5em;
    background-color: white;
    border: 1px solid black;
}


.paddingCart1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 6px;
    border: 1px solid wheat;
    width: 40em;
    height: 25em;
}

.totalAmount{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-family: Libre Baskerville,Libre-Baskerville-Fallback,serif;
    color: black;
    border-top: 2px solid rgba(0, 0, 0, 0.397);
}
.boton-comprar {
    background-color: #4caf50;
    color: white;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.boton-comprar:hover {
    background-color: #45a049;
}