.container {
    min-height: 90vh;
    height: fit-content;
    display: flex;
     
    
    padding: 3rem;
}

.emptyCart {
    margin: auto;
    border-radius: 6px;
    border: 1px solid black;
    padding: 0rem 2.5rem 1.5rem 2.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.673);   
    background-color: rgba(255, 194, 82, 0.078);
};


.cart_prueba {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 50.5rem;
    height: fit-content;
    width: fit-content;
    min-width: 28rem;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.673);
}

.subTotalColumn {
    margin-top: 2.5rem;
    border-radius: 6px;
    min-height: 18rem;
    height: fit-content;
    max-width: fit-content ;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.673);   
    display: flex;
    flex-direction: column;
    align-items: none; 
    justify-content: space-around; 
    padding: 0.5rem;
    padding-bottom: .7rem;  
}  

.subTotalColumn >p {
    padding-top: 15px;
    text-align: center;
    text-decoration: underline;
}

.product_list {
    list-style-type: none;
    padding: 0;
}

.product_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.product_name {
    white-space: nowrap;      
    overflow: hidden;          
    text-overflow: ellipsis;   
    max-width: 70%;   
    flex: 1;
}
.product_price {
    margin-left: 20px;
}

.tarjeta {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.311);
    border-radius: 6px;

    margin-top: 0.4rem;
    margin-bottom: 0.4rem;

    padding: 5px 0.5rem;

    margin-right: 1.5rem;
    background-color: rgba(255, 194, 82, 0.078);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.673); 

    width: 100%;
    height: 6rem;
}


.imgColumn {
   padding: 0;
}

.tarjeta_imagen{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    padding: 0;
    margin-left: 0.40rem;
    border-radius: 6px;
}

.tarjeta_contenido {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
    padding-left: 1rem ;
}

.counterCart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 6px;
    margin-right: 0.1rem;
}

.quantityView {
    margin: .5rem;
}

.buttonCounterCart {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid grey;
}

.buttonCounterCart > b {
    font-size: larger;
}

.banner {
    padding: .4rem;
}

.checkbox {
    padding: 0rem 1rem;
    display: flex;
    flex-flow: column nowrap;
}

.checkbox i {
    text-align: center;
}

.paymentButton {
    margin: 1rem .4rem;
}

.bannerMp {
    margin: auto;
    max-width: 26.6rem;
    max-height: 32.8rem ;
    padding: 24px 16px;
    background-color: #ffffff;
    border-radius: 6px;

}
.bannerMp_Title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.bannerMp_benefitList {
    margin-bottom: .4rem;
}

.bannerMp_benefitList_Item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.bannerMp_benefitList_Item > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center ;
}

.bannerMp_benefitList_logo {
    width: 3.25rem;
    height: 3.4rem;
    padding: 10px;
}

.bannerMp_benefitList_p_title {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.bannerMp_benefitList_p_subTitle {
    
    font-size: 12px;
    color: #0000008c;
    margin: 0;
    text-align: left !important;
}

.bannerMp_benefitList_p_subTitle:last-child {
    margin-top: .2rem;
    text-align: center !important;
}

.bannerMp_redirect {
    margin: auto;
    background-color: #eae6dd;
    max-height: 3.4rem;
    max-width: 23.6rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: none;
    padding: 12px;
    border-radius: 6px
}
.bannerMp_redirect > i {
    width: 15px;
    height: 22px;
    margin: 0px 0px 0px 10px;
    color: #0000008c ;
    padding: 0;
}

.bannerMp_redirect > p {
    max-width: 306px;
    text-align: left;
    font-size: 11px;
    width: 80%;
    vertical-align: baseline;
};

.formBox {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.673); 
    border-radius: 6px;
    padding: 0.2rem;
    background-color:aqua ;
    width: 100%;

}



@media (max-width: 1200px){
    .container {
        padding: .5rem;
    }

    .cart_prueba {
        width: 100%;
    }

    .tarjeta {
        max-width: 100%;
        margin-right: 0px;
    }

    .tarjeta_contenido {
        padding-left: 1.5rem ;
    }

    .deleteButton {
        margin-right: 1rem;
    }

    .tarjeta_imagen{
        width: 75px;
        height: 75px;
        margin-left: 0.10rem;
        padding: 0;
    }
}


@media (max-width: 792px) {

    .container {
        padding: .5rem;
        align-items: center;
        justify-content: center;
    }
    .tarjeta_contenido {
        padding-left: 0.2rem ;
    }

    .tarjeta_titulo{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .imgColumn {
        display: none;
    }

    .tarjeta_imagen {
        display: none;
    }
}


