
.boton-comprar {
    background-color: #4caf50;
    color: white;
    border: none;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 3em;
    padding: 10px 46.5%;
    border-radius: 4px;
    cursor: pointer;
}

.boton-comprar:hover {
    background-color: #45a049;
}

.tarjeta {
    display: flex;
    border: 1px solid #656565;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.673);   
    border-radius: 4px;
    padding: .5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}
  
.tarjeta-imagen {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.tarjeta-contenido {
    flex: 1;
}

.tarjeta-titulo {
    margin: 0;
}
  
.tarjeta-descripcion {
    margin: 0;
    margin-bottom: 10px;
}
  
.tarjeta-precio {
    margin: 0;
    font-weight: bold;
}

.boton-quitar {
    background-color: #af4c4c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
  
.boton-quitar:hover {
    background-color: #a04545;
}
  
.carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titleCart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1em;
    font-family: Libre Baskerville,Libre-Baskerville-Fallback,serif;
    font-weight: bold;
    font-size: 3em;
}
  
.p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    margin-top: 10em;
}

.counterCart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-radius: 6px;
    border: 1px solid black;
    padding: .1em;
    background-color: white;
}
  
.buttonCounterCart {
    display: inline;
    justify-content: space-around;
    align-items: center;
    margin: 0.2em;
}
  
.counterCart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 6px;
    border: 1px solid black;
    padding: .1em;
    max-width: 6em;
    max-height: 3em;
    background-color: white;
}