
.itemContainer {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    width: 100%;
}

@media (max-width: 950px) {
    .itemContainer {
        padding: 1rem;
    }
}

@media (max-width: 600px) {
    .itemContainer {
        padding: 0;
    }
}

