.LinkAbout{
    text-decoration: none;
}

.imageAbout{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.BoxAboutAll{
    padding-left: 8em;
    padding-right: 8em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.imageAbout1{
    width: 25em;
    height: 25em;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

.BoxAbout1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 1em;
    flex-wrap: wrap;
}

.h1TitleAboutDesc{
    font-size: 3em;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
    font-weight: 600;
}

.BoxAboutDesc1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 25em;
    height: 25em;
}

.BoxAbout2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 1em;
    flex-wrap: wrap;
}

.BoxAboutDesc2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 25em;
    height: 25em;
}
@media (max-width: 790px) {

    .h1TitleAboutDesc{
        font-size: 2em;
        border-bottom: 1px solid black;
        margin-bottom: 1em;
        font-weight: 600;
    }
    .imageAbout1{
        width: 20em;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 6px;
        margin-bottom: 1em;
    }
    .BoxAboutDesc1{
        height: 100%;
        width: 100%;
    }
    .BoxAbout1{
        display: flex;
        height: 100%;
        width: 100%;
    }
    .BoxAboutAll{
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .BoxAboutTop{
        display: flex;
        margin-top: 10em;
    }
    .BoxAboutDesc2{
        height: 100%;
        width: 100%;
    }
    .imageAbout{
        width: 100%;
        height: 15em;
    }
}