@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* CSS */
.all {
    margin-top: 2em;
    font-family: Libre Baskerville,Libre-Baskerville-Fallback,serif;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/headerContact.jpg');
    min-height: 30em;
    min-width: 100%;
    margin: 0.5em;
    margin-top: 11em;
  }
  
  .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.756);
    color: rgb(255, 255, 255);
    width: 60%;
    max-width: 60%;
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.3);
    border: 0.1em solid rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .h3 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: clamp(0.2em, 2vw, 1.25em);
  }
  
  .h1 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: clamp(0.5em, 4vw, 2em);
  }
  
  /* Media Query para dispositivos móviles */
  @media (max-width: 768px) {
    .header {
      min-height: 20em;
      margin-top: 22em;
    }
    
    .title {
      width: 100%;
    }
  }
  
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.2em;
    margin: 0.5em;
    background-image: url('https://d1di2lzuh97fh2.cloudfront.net/files/4c/4c5/4c5fs8.jpg?ph=e7cd32bc42');
    min-height: 40em;
    min-width: 100%;
    color: white;
  }
  
  .formBox {
    display: inline;
    justify-content: center;
    align-items: center;
    min-height: 32em;
    min-width: 15em;
    background-color: rgba(0, 0, 0, 0.536);
    border-radius: 0.5em;
    width: 50%;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.147);
    border: 0.1em solid rgba(255, 255, 255, 0.64);
  }
  
  .input {
    display: inline;
    border-radius: 0.6em;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.147);
    width: 90%; /* Asegura que los campos de entrada ocupen todo el ancho disponible */
    max-width: 20em; /* Establece un ancho máximo para los campos de entrada */
  }
  
  .input1 {
    display: inline;
    min-height: 3em;
    max-height: 10em;
    border-radius: 0.6em;
    box-shadow: 0.5 0.5em 0.5em 0 rgba(255, 255, 255, 0.611);
    width: 90%; /* Asegura que los campos de entrada ocupen todo el ancho disponible */
    max-width: 20em; /* Establece un ancho máximo para los campos de entrada */
  }
  
  .send {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    background-color: #00000000;
    color: #fff;
    width: 6.5em;
    height: 2em;
    border: #ffffff 0.1em solid;
    border-radius: 6px;
    text-align: center;
    transition: all 0.6s ease;
  }
  
  .send:hover {
    background-color: #ffffff5b;
    color: #000;
    font-weight: bold;
  }
  
  .send svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .send:hover svg {
    transform: translateX(0.5em);
  }
  
  /* Media Query para dispositivos móviles */
  @media (max-width: 768px) {
    .formBox {
      min-height: 25em;
    }
    
    .input,
    .input1 {
      max-width: 100%; /* Eliminamos el ancho máximo para que los campos de entrada ocupen todo el ancho en dispositivos móviles */
    }
  }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    min-width: 100%;
    background-image: url('https://d1di2lzuh97fh2.cloudfront.net/files/4c/4c5/4c5fs8.jpg?ph=e7cd32bc42');
}

.form-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
    margin-top: 1em;
}

.form-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-left: 1em;
    margin-right: 1em;
}

.box {
    display: flex;
    margin-top: 5em;
}

.box-1 {
    display: inline;
    max-width: 30em;
    margin-right: 25em;
}

.p,
.p1,
.p2,
.h4,
.h6 {
    display: flex;
    margin-bottom: 1em;
    color: rgb(255, 255, 255);
    /* Tamaño de fuente mínimo y máximo */
    font-size: clamp(10px, 2vw, 20px);
}

.p2 {
    font-weight: bold;
    margin-bottom: 2.3em;
}

.h6 {
    margin-bottom: 2em;
    color: #ee4c7c;
}

.smallBox {
    display: block;
    margin-bottom: 4em;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
.box-1 {
    max-width: 100%; /* Eliminamos el ancho máximo para que ocupe todo el ancho en dispositivos móviles */
    margin-right: 0; /* Eliminamos el margen derecho para que ocupe todo el ancho en dispositivos móviles */
}
}


