@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* CSS */
.allContact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 8em;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: #DCD9D4;
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.147);
  cursor: default;
  font-family: Montserrat;
  width: 100%;
  }
  
  .h3Contact {
    font-weight: bold;
    color: black;
    font-size: clamp(0.2em, 2vw, 1.25em);
  }
  
  .h1Contact {
    font-weight: bold;
    color: black;
    font-size: clamp(0.5em, 4vw, 2em);
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.5em;
    color: black;
    height: 100%;
    width: 25em;
    border-radius: 6px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    box-shadow: 0.5px 1.5px 0px 0 rgb(0, 0, 0);
    font-weight: bold;
  }
  
  .formBox {
    display: inline;
    justify-content: center;
    align-items: center;
    min-height: 32em;
    min-width: 15em;
    border-radius: 0.5em;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.147);
    width: 100%;
    height: 100%;
  }
  
  .input {
    display: inline;
    border-radius: 0.6em;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.147);
    width: 90%; /* Asegura que los campos de entrada ocupen todo el ancho disponible */
    max-width: 20em; /* Establece un ancho máximo para los campos de entrada */
  }
  
  .input1 {
    display: inline;
    min-height: 3em;
    max-height: 10em;
    border-radius: 0.6em;
    box-shadow: 0.5 0.5em 0.5em 0 rgba(255, 255, 255, 0.611);
    width: 90%; /* Asegura que los campos de entrada ocupen todo el ancho disponible */
    max-width: 20em; /* Establece un ancho máximo para los campos de entrada */
  }
  
  .send {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    background-color: #000000;
    color: #fff;
    width: 90%;
    height: 2em;
    border: #ffffff 0.1em solid;
    border-radius: 6px;
    text-align: center;
    transition: all 0.6s ease;
  }
  
  .send:hover {
    background-color: #ffffff5b;
    color: #000;
    font-weight: bold;
    transform: scale(1.12);
  }
  
  .send svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .send:hover svg {
    transform: translateX(0.5em);
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .form-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
  margin-top: 1em;
}

.form-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
  }
  
  .desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 15em;
  }


.pContact,
.p1Contact,
.p2Contact,
.h4Contact,
.h6Contact {
  display: flex;
  color: black;
  /* Tamaño de fuente mínimo y máximo */
  font-size: clamp(10px, 2vw, 20px);
}

.p2Contact {
  font-weight: bold;
}

.h6Contact {
  color: black;
  font-weight: bold;
}

.smallBox {
  display: block;
  margin-bottom: 0;
}

/* Media Query para dispositivos móviles */
@media (max-width: 1140px) {
  .allContact{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1em;
  }
  .form{
    width: 15em;
  }
  .input,
  .input1 {
    max-width: 100%; /* Eliminamos el ancho máximo para que los campos de entrada ocupen todo el ancho en dispositivos móviles */
  }
  .h1Contact{
    text-align: center !important ;
  }
}

