.titulo{
  font-size: 2.5em;
  align-items: center;
  font-weight: bold;
}
.container {
  margin-top: 8rem;
  font-family: Arial, sans-serif;
}

.form-label {
  color: #100f0f;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 0.5rem;
}

.form-control {
  border-radius: 9px;
  border: 1px solid #4a4a4a;
}

.form-control:invalid {
  border-color: #FF6347;
}

.alert-danger {
  background-color: #FF6347;
  color: #fff;
}
.boton{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 4em;
  
}