.footer_container {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-radius: 2px;
    padding: 1em;
    font-family: Montserrat;
    margin-top: 1em;
    cursor: default;
}

.left_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.right_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20em;
}

.mid_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20em;
    color: white;
}

.mid-right_container{
    display: flex;
    flex-direction: row;
}
.iconIg {
    font-size: 2em;
    margin-right: .5em;
    color: #f7f7f7;
}
.iconIg:hover{
    color: #747474;
}
.iconWpp:hover{
    color: #747474;
}
.iconFb:hover{
    color: #747474;
}
.iconWpp{
    margin-right: .5em;
    font-size: 2em;
    color: #ffffff;
}
.iconFb{
    margin-right: .5em;
    font-size: 2em;
    color: #ffffff;
}

.icon_container {
    display: flex;
    width: 100%;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
}

.modals {
    all: unset;
    text-decoration: none;
    width: 100%;
    padding: 5px;
    color: rgb(189, 189, 189);
}

.menu {
    color: rgb(255, 255, 255);
    margin-bottom:1rem;
}

.info {
    color: rgb(255, 255, 255);
    margin-bottom:1rem;
}

.links_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-decoration: none;
}

.links {
    width: 100%;
    padding: 5px;
    color: rgb(189, 189, 189);
    position: relative;
    font-style:normal;
    font-weight: 300;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
}
.links:hover {
    color: rgb(91, 91, 91);
  }

.links:after{
    position: absolute;
    content: "" ;
    background-color: rgb(255, 255, 255);
    left: 0;
    bottom: 1px; 
    min-height: 1px;
    width: 0%;
    transition: 0.3s;
}

.links:hover:after{
    width: 100%;
}

.footerContact{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.pFooter{
    text-align: start !important ;
}

@media (max-width: 510px) {
    .footer_container {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        margin: 2px;
    }
    .footerContact{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center !important
    }
    .pFooter{
        text-align: center !important ;
    }
    .mid-right_container{
        display: flex;
        flex-direction: column;
    }
    .right_container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 1em;
    }
    .mid_container{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 1em;
    }
    .icon_container{
        display: flex;
        justify-content: center;
        padding-top: 0;
    }
}