.footer_container {
    background-image: url('https://d1di2lzuh97fh2.cloudfront.net/files/4c/4c5/4c5fs8.jpg?ph=e7cd32bc42');
    border-top: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1em;
    font-family: Libre Baskerville,Libre-Baskerville-Fallback,serif;
}

.left_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20em;
    color: white;
    padding-left:1em ;
}

.right_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20em;
    color: white;
    padding-right:1em ;
}

.mid_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20em;
    color: white;
}

.image {
    width: 200px;
    height: auto;
}

.icon {
    font-size: 2em;
}

.icon_container {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: start;
}

.modals {
    all: unset;
    text-decoration: none;
    width: 100%;
    padding: 5px;
}

.menu {
    color: white;
    margin-bottom:1rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0.721);
}

.links_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-decoration: none;
}

.links {
    text-decoration: none;
    width: 100%;
    padding: 5px;
}

@media (max-width: 510px) {
    .footer_container {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
}