/* CSS */
.search_container {
    display: flex;
    align-items: center;

    height: 0em;
}

.search_item {
  padding: 10px;
  border-radius: 6px;
}

/* Media Query para dispositivos móviles */
@media screen and (max-width: 768px) {
  .search_container {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
   
  }

  .search_item {
    margin: 4px;
    font-size: 12px; /* Ajustamos el tamaño de fuente en pantallas más pequeñas */
    padding: 5px; /* Ajustamos el padding en pantallas más pequeñas */
  }
}
