/* Cards.css */

.containerCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1400px; /* Adjusted maximum width */
}

.containerCards .mx-4 {
  width: calc(50% - 20px); /* Adjusted card width with spacing */
  margin-bottom: 2rem;
}

.imageCards {
  object-fit: cover;
  height: 38em;
  width: 100%; /* Adjusted image width */
}

.addToCart {
  margin-top: 1em;
}

@media (max-width: 768px) {
  .containerCards .mx-4 {
    display: inline;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20em;
    height: auto;
    padding: 4em; /* Added padding for spacing */
  }
  
  .imageCards {
    width: 25em;
    height: 25em;
    object-fit: cover;
    margin-bottom: 1em; /* Added margin for spacing */
  }

  .addToCart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
}
