.customCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.imageCards {
    max-width: 100%;
    height: auto;
}

.addToCart {
    margin-top: auto;
    bottom: 0;
}

.containerCards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 2em;
  border-radius: 6px;
  width: 18em;
}

.containerCards .mx-4 {
  margin-bottom: 2rem;
}

.imageCards {
  height: 15em;
  width: 15em; 
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}
.pTitle {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
