.home_container {
    display: flex;
    flex-direction: column;
}
.banners_container {
    height: 100%;
    width: 100%;
}

.banners_image{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.Link{
    text-decoration: none;
}

.titleHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center !important;
    background-color: rgb(0, 0, 0);
    padding: 1em;
    color: white;
    width: 100%;
}
.SubTitleHome{
    font-size: 30px;    
}
.TitleHome{
    font-size: 25px;
}
.TextHome{
    font-size: 20px;
}

.BannerHome2{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;

    background-size:contain; 
    object-position:center;
    object-fit:cover;
    background-repeat:no-repeat;
    width: 100%;
}

.iconStyle{
    font-size: 40px;
}

.iconsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 3em;
}

.text_container {
    display: flex;
    flex-direction: column;
}

.ContainerBannerHome2{
    display: flex;
    align-items: center;
    margin: 1em;
    width: 100%;
}

.ContainerBoxHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40em;
    text-align: center !important;
    margin-top: 1em;
    margin-right: 100px;
}

.border-bottom {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.571);
}

.TitleHome2{
    font-size: 1.5em;
    color: black;  
}

.TextHome2{
    font-size: 1.2em;
    color: black;  
    font-weight: 500;
}

.our_products_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our_products_title{
    color: rgb(0, 0, 0);
    padding-bottom: 1rem;
    border-bottom: 2.0px solid rgb(0, 0, 0);
    margin: 1em;
}

.our_products_product_container{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
}

.our_products_product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18.75em;
    height: 18.75em;
    margin: 1em;
}

.background_container {
    opacity: 0;
    z-index: 999;
    width: 18.75em;
    height: 18.75em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.505);
    margin: 1em;
    transition: opacity 0.3s ease-in-out; 
}

.background_title{
    color: white;
    width: 180px;
    font-size: 2em;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.background_button {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px;
    cursor: pointer;
    transition: background 0.5s ease;
}

.background_button:hover {
    background-color: white;
    color: black;
}

.our_products_product:hover .background_container {
    opacity: 1;
}

.our_products_image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}



@media (max-width: 600px) {
    .home_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .BannerHome2{
        display: flex;
        flex-direction:row;
        align-items: center;
        background-image:none;
    }

    .iconsContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: 3em;
        height: 712px;
    }
  
    .PaddingTitleHome {
      padding: 1em;
      margin:1em;
    }
  
    .titleHome {
      font-size: 30px;
      text-align: center;
    }
  
    .SubTitleHome{
        font-size: 14px;
    }
    .TitleHome{
        font-size: 25px;
    }
    .TextHome {
        font-size: 12px;
    }
  

    .BannerHome2 {
      min-height: 20em;
      margin-bottom: 1em;
    }

    .background_container {
        opacity: 1;
        z-index: 999;
        width: 18.75em;
        height: 18.75em;
        position: absolute;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0);
        justify-content: center;
        flex-direction: column;
        margin: 1em;
    }

    .banners_image{
        /* height: 450px; */
        object-fit: cover;
        object-position: center;
    }
  
    .imageHome {
      width: 100%;
      max-width: 250px;
      height: auto;
      margin:1em;
    }
  
    .ContainerBoxHome {
        max-width: 250px;
      width: 100%;
    }
  
    .TextHome2 { 
        font-size: 14px;
    }

    .text_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
  }
  