.titulo{
  font-size: 2.5em;
  align-items: center;
  font-weight: bold;
  margin-bottom: 1em;
}
.container {
  margin-top: 4rem;
  width: 75%;
}

.form-label {
  color: #100f0f;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-left: 8px;
}

.form-control {
  border-radius: 9px;
  border: 1px solid #4a4a4a;
}

.form-control:invalid {
  border-color: #FF6347;
}

.boton{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 10%;
  height: 3.5em; 

}



@media (max-width: 768px) {
  .titulo{
      font-size: 26px;
  }
}
