
   .buttons {
    position: relative;
    font-style:normal;
    font-weight: 300;
    font-family: light;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
  }

  .buttons:hover {
    color: rgb(58, 16, 1);

  }

  .buttons:after{
    position: absolute;
    content: "" ;
    background-color: rgb(58, 16, 1);
    left: 0;
    bottom: 4px; 
    height: 2.5px;
    width: 0%;
    transition: 0.3s;
}

.buttons:hover:after{
    width: 100%;
    color: pink;
}

  .logo_container{
    display: flex;
    align-items:center;
    justify-content: center;
  }

   .logo {
    max-width: 150px;
    max-height: 150px;
    padding: 0;
    margin: 0;
  }

  .navbar {
    background-color: rgb(189, 189, 189);
    display: flex;
    align-items:center;
    border-bottom: 2px solid rgb(58, 16, 1);
    width: 100%;
  }

  .nav_container {
    margin: 0;
    display: flex;
    justify-content:space-evenly;
  }

  @media (max-width: 768px) {
    .navbar {
      align-items: center;
      justify-content: center;
    }
    .buttons {
      margin: 5px 0; 
    }
  }